<!DOCTYPE html>
<html lang="ru">
  <head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
  <h1>Данные для добавления</h1>
    <form action="/add" method="post">
      <input type="text" name="name" placeholder="Введите ваш заказ-наряд">    
      <label for="status-select">Статус:</label>
      <select name="orderStatus" id="orderStatus">
        <option value="" disabled selected>Выберите статус</option>
        <% for (const key in statuses) { %>
          <% const status = statuses[key]; %>
          <option value="<%= key %>" style="color: <%= status.color %>;">
            <%= status.label %>
          </option>
        <% } %>
      </select>
      <label for="order_date">Дата заявки:</label>
      <input type="date" id="order_date" name="order_date">
      <button type="submit">Добавить</button>

  </form>
</body>

</html>