<!DOCTYPE html>
<html lang="ru">
<body>
  <h1>Данные для добавления</h1>
    <form action="/add" method="post">
      <input type="text" name="name" placeholder="Введите ваш номер">    
      <label for="status-select">Статус:</label>
      <select name="orderStatus" id="orderStatus">
        <option value="" disabled selected>Выберите статус</option>
        <% for (const key in statuses) { %>
          <% const status = statuses[key]; %>
          <option value="<%= key %>" style="color: <%= status.color %>;">
            <%= status.label %>
          </option>
        <% } %>
      </select>
      <button type="submit">Добавить</button>
  </form>
</body>

</html>